<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key %>);">
  <div class="container text-center">
    <h1><%= @list.name %></h1>
  </div>
</div>
<div class="wrapper">
  <div class="d-flex justify-content-between align-items-center mb-2 mt-2">
    <h2>
      My Movies
    </h2>
    <%= link_to "Add a Movie", new_list_bookmark_path(list_id: @list.id), class: "btn btn-success" %>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <% @list.movies.each do |movie| %>
      <p><%= movie.title %></p>
      <% movie.bookmarks.each do |bookmark| %>
        <%= bookmark.comment %>
        <%= link_to "delete", bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <% end %>
    <% end %>
  </div>
</div>
